body {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 62.5%;
  color: #111;
  margin: 4.4%;
}
h1 {
  font-weight: 200;
  font-size: 3em;
  text-transform: lowercase;
}
h1 i {
  color: #bada55;
}

input {
  padding: 0.5em;
  font-size: 15px;
  border: 3px solid #efefef;
  border-radius: 3px;
  display: block;
  width: 92%;
}

ul {
  font-size: 1.3em;
  text-transform: uppercase;
  list-style: none;
  padding: 1.5em 0 0;
}
ul li {
  margin-bottom: 1.25em;
  position: relative;
}
ul li a {
  display: block;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #efefef;
  text-decoration: none;
  color: #444;
}
ul li a:after {
  content: "x";
  visibility: hidden;
  position: absolute;
  right: 0.4em;
  bottom: 0.4em;
  font-size: 1.2em;
  font-weight: 100;
  color: #c0c0c0;
}
ul li a:hover {
  border-color: #c0c0c0;
}
ul li a:hover:after{
  visibility: visible;
}

section {
  width: 25%;
  min-width: 24em;
  margin: 4em 4em 0 0;
  float: left;
}

section h1 {
  border-bottom: 2px solid #efefef;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  font-size: 2em;
  font-style: italic;
  font-family: serif;
}